body{
  margin:0;
  font-family:Arial;
  background:#fff;
}

/* HEADER */
.top{
  display:flex;
  align-items:center;
  background:#e53935;
  color:#fff;
  padding:10px;
}
.menu{
  font-size:22px;
  margin-right:15px;
}
.logo{
  font-size:20px;
  font-weight:bold;
}

/* CATEGORY MENU */
.cat-menu{
  display:none;
  background:#fff;
  position:absolute;
  width:100%;
  z-index:10;
}
.cat-menu div{
  padding:10px;
  border-bottom:1px solid #ddd;
}

/* SLIDER */
.slider{
  display:flex;
  overflow-x:auto;
  gap:10px;
  padding:10px;
}
.slide{
  min-width:220px;
  background:#fff;
  border-radius:10px;
}
.slide img{
  width:100%;
  border-radius:10px;
}

/* TITLES */
.title{
  padding:10px;
  font-size:18px;
}

/* CATEGORY CIRCLE */
.cat-row{
  display:flex;
  overflow-x:auto;
  padding:10px;
  gap:15px;
}
.cat{
  text-align:center;
}
.cat div{
  width:70px;
  height:70px;
  border-radius:50%;
  background:#ffca28;
  display:flex;
  align-items:center;
  justify-content:center;
  font-weight:bold;
}

/* PRODUCTS */
.products{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:10px;
  padding:10px;
}
.product{
  background:#fff;
  border-radius:10px;
  padding:10px;
}
.product img{
  width:100%;
}
.old{
  text-decoration:line-through;
  color:#999;
}
.new{
  color:#e53935;
  font-weight:bold;
}
.off{
  background:red;
  color:white;
  font-size:12px;
  padding:2px 6px;
  position:absolute;
}
