*{box-sizing:border-box;font-family:Arial}
body{margin:0;background:#f6f6f6}

/* HEADER */
.topbar{
  background:#fff;
  padding:14px;
  font-size:22px;
  font-weight:bold;
  border-bottom:1px solid #ddd;
}

/* SECTION */
.section{padding:12px}

/* CATEGORY */
.category-wrapper{
  display:flex;
  gap:12px;
  overflow-x:auto;
}
.category-item{text-align:center;min-width:90px}
.category-circle{
  width:70px;height:70px;
  border-radius:50%;
  background:#111;
  color:#fff;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:12px;
  font-weight:bold;
}
.category-item p{margin:6px 0;font-size:13px}

/* SLIDER */
.slider{
  margin:12px;
  border-radius:12px;
  overflow:hidden;
}
.slide{
  background:#000;
  color:#fff;
  padding:20px;
  margin-bottom:8px;
  border-radius:12px;
}

/* PRODUCTS */
.products{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:12px;
}
.product{
  background:#fff;
  padding:10px;
  border-radius:10px;
}
.product img{
  width:100%;
  border-radius:8px;
}
.old-price{
  text-decoration:line-through;
  color:#888;
  font-size:13px;
}
.new-price{
  font-weight:bold;
  color:#000;
}
.offer{
  color:green;
  font-size:13px;
}
