body{
  margin:0;
  font-family:Arial;
  background:#969686;
}

header{
  background:#000;
  color:#fff;
  padding:10px;
  display:flex;
  justify-content:space-between;
}

.slider img, .slider video{
  width:100%;
  height:250px;
  object-fit:cover;
}

.products{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:15px;
  padding:15px;
}

.card{
  background:#fff;
  border-radius:8px;
  overflow:hidden;
}

.card img{
  width:100%;
  height:180px;
  object-fit:cover;
}

.card .info{
  padding:10px;
}

.price del{
  color:red;
}

.badge{
  position:absolute;
  background:red;
  color:#fff;
  padding:4px 6px;
  font-size:12px;
}
