body{
  margin:0;
  font-family:Arial;
  background:#fafafa;
}

.top{
  padding:15px;
  font-size:22px;
  font-weight:bold;
}

.title{
  padding:10px;
}

.slider{
  display:flex;
  overflow-x:auto;
}

.slide{
  min-width:90%;
  margin:10px;
  position:relative;
}

.slide img{
  width:100%;
  border-radius:10px;
}

.slide button{
  position:absolute;
  bottom:15px;
  left:15px;
  padding:10px 15px;
  border:none;
  background:black;
  color:white;
}

.categories{
  display:flex;
  overflow-x:auto;
  padding:10px;
}

.category{
  text-align:center;
  margin-right:15px;
}

.circle{
  width:70px;
  height:70px;
  border-radius:50%;
  background:black;
  color:white;
  display:flex;
  align-items:center;
  justify-content:center;
  font-weight:bold;
}

.products{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:10px;
  padding:10px;
}

.card{
  background:white;
  padding:8px;
  border-radius:8px;
}

.card img{
  width:100%;
}

.price{
  font-weight:bold;
}

.old{
  text-decoration:line-through;
  color:gray;
  font-size:14px;
}
