body{
  font-family:Arial;
  background:#f7f7f7;
  padding:15px
}
h2{text-align:center}
.box{
  background:#fff;
  padding:15px;
  margin-bottom:20px;
  border-radius:8px
}
input,textarea,select,button{
  width:100%;
  margin:5px 0;
  padding:10px
}
button{
  background:#000;
  color:#fff;
  border:none
}
.item{
  border-bottom:1px solid #ddd;
  padding:10px 0
}
.actions button{
  width:auto;
  margin-right:10px
}
