body{
  font-family:Arial;
  background:#f2f2f2;
  padding:10px;
}

h2{
  text-align:center;
}

.box{
  background:#fff;
  padding:15px;
  margin-bottom:20px;
}

input, textarea{
  width:100%;
  padding:8px;
  margin:6px 0;
}

button{
  padding:10px;
  background:black;
  color:white;
  border:none;
  cursor:pointer;
}

.product{
  background:#fff;
  padding:10px;
  margin:10px 0;
}

.small{
  font-size:12px;
  color:#666;
}
