body{
  font-family:Arial;
  background:#f4f4f4;
  padding:20px;
}

input,select,button{
  display:block;
  margin:8px 0;
  padding:8px;
  width:100%;
}

.card{
  background:#fff;
  padding:10px;
  margin:10px 0;
}
