body{
  font-family:Arial;
  background:#f5f5f5;
  padding:10px;
}
input,textarea,select,button{
  width:100%;
  margin:5px 0;
  padding:8px;
}
button{
  background:#d32f2f;
  color:#fff;
  border:none;
}
.card{
  background:#fff;
  padding:8px;
  margin:8px 0;
}
